# IDEA Ignores
*.iml
*.ipr
*.iws
.idea/
local.properties

# Generic Android ignores
bin/
target
gen/
classes/
events/

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class